/* Color Theme */
:root {
    --primary: #FFF6EA;
    --secondary: #857f78;
    --dark-bg: #003858;
    --darker-bg: #56C1FF;
    --deep-dark: #045E8F;
    --text-light: #FFFFFF;
    --text-muted: #A0A0A0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--deep-dark);
    color: var(--text-light);
}

header {
    background-color: var(--dark-bg);
    color: var(--text-light);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: var(--primary);
}

.about, .projects, .contact {
    width: 80%;
    margin: 20px auto;
    background: var(--darker-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(12, 69, 213, 0.2);
}

h2 {
    border-bottom: 2px solid var(--primary);
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: var(--secondary);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

ul li:hover {
    background: var(--primary);
}

ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: bold;
}

.contact a {
    color: var(--primary);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--dark-bg);
    color: var(--text-muted);
    margin-top: 20px;
}
